<div style="border-radius: 5px; background-color:#333333;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1) ;height: 700px; padding: 2em; margin-bottom: 2em;"class="container" >


<div style="width:20em; padding: 2em; height:30em;color:white;background-color:#1111;" class= "container">
  <h1>Login</h1>
<form   action="/login" method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username:</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="username" required>
  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password:</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
  </div>
  <button type="submit" class="btn btn-primary"> Login </button>
</form>
</div>


</div>

